In [1]:
!pip install pandas==1.4.1

Requirement already satisfied: pandas==1.4.1 in /opt/anaconda3/lib/python3.9/site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.1) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.1) (1.20.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas==1.4.1) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas==1.4.1) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
import pickle as pkl


import re


import matplotlib.pyplot as plt
import seaborn as sns

import datetime as dt
from datetime import datetime

plt.rcParams["figure.figsize"] = (10,8)
pd.options.display.max_rows=None

In [3]:
df= pd.read_pickle('../Desktop/project-DA-promo-B-module-3-team-3/Datos/bikes_eda.pkl')
df.head()

,instant,dteday,year,month,weekday,workingday,weathersit,temp,windspeed,casual,registered,count_bikes
0,1,01-01-2018,0,1,6,0,2,14.110847,10.749882,331,654,985
1,2,02-01-2018,0,1,0,0,2,14.902598,16.652113,131,670,801
2,3,03-01-2018,0,1,1,1,1,8.050924,16.636703,120,1229,1349
3,4,04-01-2018,0,1,2,1,1,8.200000,10.739832,108,1454,1562
4,5,05-01-2018,0,1,3,1,1,9.305237,12.522300,82,1518,1600

In [4]:
df.shape

(730, 12)

In [5]:
730/7

104.28571428571429

In [6]:
weekdays=[0,1,2,3,4,5,6]* 105
len(weekdays)

735

In [7]:
while len(weekdays)>730:
    weekdays.pop()

In [8]:
len(weekdays)

730

In [9]:
weekdays[:7]

[0, 1, 2, 3, 4, 5, 6]

In [10]:
df['dia_semana'] = weekdays

In [11]:


lista_2018 = ["01-01-2018", "15-01-2018", "19-02-2018", "16-04-2018", "28-05-2018", "04-04-2018",
              "03-09-2018", "08-10-2018", "12-11-2018", "22-11-2018", "25-12-2018"]

lista_2019 = ["01-01-2019", "21-01-2019", "18-02-2019", "16-04-2019", "27-05-2019", "04-07-2019", 
              "02-09-2019", "14-10-2019", "11-11-2019", "28-11-2019", "25-12-2019"]

In [12]:
lista_2018.extend(lista_2019)

In [13]:
df['laborables'] = np.where(df['dia_semana'].isin([5,6]) | df['dteday'].isin(lista_2018), 0, 1)

In [14]:
df.drop(['workingday', 'weekday'], axis=1, inplace=True)

In [15]:
df.head()

,instant,dteday,year,month,weathersit,temp,windspeed,casual,registered,count_bikes,dia_semana,laborables
0,1,01-01-2018,0,1,2,14.110847,10.749882,331,654,985,0,0
1,2,02-01-2018,0,1,2,14.902598,16.652113,131,670,801,1,1
2,3,03-01-2018,0,1,1,8.050924,16.636703,120,1229,1349,2,1
3,4,04-01-2018,0,1,1,8.200000,10.739832,108,1454,1562,3,1
4,5,05-01-2018,0,1,1,9.305237,12.522300,82,1518,1600,4,1

In [17]:
df.to_csv('../Desktop/project-DA-promo-B-module-3-team-3/Datos/Bikes_EDA_limpio.csv')


  
    Tuesday, January 1, 2019: New Year’s Day     
    Monday, January 21, 2019: Martin Luther King, Jr.’s Birthday     
    Monday, February 18, 2019: Washington’s Birthday     
    Tuesday, April 16, 2019: DC Emancipation Day     
    Monday, May 27, 2019: Memorial Day     
    Thursday, July 4, 2019: Independence Day     
    Monday, September 2, 2019: Labor Day     
    Monday, October 14, 2019: Columbus Day     
    Monday, November 11, 2019: Veterans Day     
    Thursday, November 28, 2019: Thanksgiving Day     
    Wednesday, December 25, 2019: Christmas Day   



    Monday, January 1, 2018: New Year’s Day
    Monday, January 15, 2018: Martin Luther King Jr.’s Birthday
    Monday, February 19, 2018: Washington’s Birthday
    Monday, April 16, 2018: DC Emancipation Day
    Monday, May 28, 2018: Memorial Day
    Wednesday, July 4, 2018: Independence Day
    Monday, September 3, 2018: Labor Day
    Monday, October 8, 2018: Columbus Day
    Monday, November 12, 2018: Veterans Day*
    Thursday, November 22, 2018: Thanksgiving Day
    Tuesday, December 25, 2018: Christmas Day