In [1]:
# Librería para instalar y leer archivos rds
#! pip install pyreadr

In [2]:
import pandas as pd
import numpy as np
import pyreadr

In [3]:
df = pd.read_csv("Datos/bikes.csv", index_col = 0)
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    object
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(10), object(2)
memory usage: 97.0+ KB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
instant,730.0,365.500000,210.877136,1.000000,183.250000,365.500000,547.750000,730.000000
yr,730.0,0.500000,0.500343,0.000000,0.000000,0.500000,1.000000,1.000000
mnth,730.0,6.526027,3.450215,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,730.0,0.028767,0.167266,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,730.0,2.997260,2.006161,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,730.0,0.683562,0.465405,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,730.0,1.394521,0.544807,1.000000,1.000000,1.000000,2.000000,3.000000
temp,730.0,20.319259,7.506729,2.424346,13.811885,20.465826,26.880615,35.328347
atemp,730.0,23.726322,8.150308,3.953480,16.889713,24.368225,30.445775,42.044800
hum,730.0,62.765175,14.237589,0.000000,52.000000,62.625000,72.989575,97.250000
windspeed,730.0,12.763620,5.195841,1.500244,9.041650,12.125325,15.625589,34.000021
casual,730.0,849.249315,686.479875,2.000000,316.250000,717.000000,1096.500000,3410.000000
registered,730.0,3658.757534,1559.758728,20.000000,2502.250000,3664.500000,4783.250000,6946.000000
cnt,730.0,4508.006849,1936.011647,22.000000,3169.750000,4548.500000,5966.000000,8714.000000

In [6]:
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [7]:
df_categoricas = df[["dteday", "season", "holiday", "workingday", "weekday", "mnth", "weathersit"]]
df_categoricas

         dteday  season  holiday  workingday  weekday  mnth  weathersit
0    01-01-2018  spring        0           0        6     1           2
1    02-01-2018  spring        0           0        0     1           2
2    03-01-2018  spring        0           1        1     1           1
3    04-01-2018  spring        0           1        2     1           1
4    05-01-2018  spring        0           1        3     1           1
..          ...     ...      ...         ...      ...   ...         ...
725  27-12-2019  spring        0           1        4    12           2
726  28-12-2019  spring        0           1        5    12           2
727  29-12-2019  spring        0           0        6    12           2
728  30-12-2019  spring        0           0        0    12           1
729  31-12-2019  spring        0           1        1    12           2

[730 rows x 7 columns]

In [8]:
#Chicas guardadlo en un jupyter es oro!(1)
dicc = {'variable':[], 'valores_unicos':[], 'frecuencias':[]} 

for col in df_categoricas.columns: 
    dicc['variable'].append(col) 
    dicc['valores_unicos'].append(list(df_categoricas[col].value_counts().index)) 
    dicc['frecuencias'].append(list(df_categoricas[col].value_counts().values))

In [9]:
#Chicas guardadlo en un jupyter es oro!(2)
df_uniques = pd.DataFrame(dicc) 
df_uniques

,variable,valores_unicos,frecuencias
0,dteday,"[01-01-2018, 25-04-2019, 27-04-2019, 28-04-201...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,season,"[autumn, summer, spring, winter]","[188, 184, 180, 178]"
2,holiday,"[0, 1]","[709, 21]"
3,workingday,"[1, 0]","[499, 231]"
4,weekday,"[6, 0, 1, 2, 4, 5, 3]","[105, 105, 105, 104, 104, 104, 103]"
5,mnth,"[1, 3, 5, 7, 8, 10, 12, 4, 6, 9, 11, 2]","[62, 62, 62, 62, 62, 62, 62, 60, 60, 60, 60, 56]"
6,weathersit,"[1, 2, 3]","[463, 246, 21]"

In [10]:
# Gracias a Stack overflow tenemos nuestro dataframe nuevo, paso a paso:
result = pyreadr.read_r('Datos/Trips-History-Data-2014-Q4-Small.rds')
result

OrderedDict([(None,
                      duration               sdate  \
              0      0h 5m 32s 2014-10-15 08:58:00
              1     0h 10m 18s 2014-12-18 09:17:00
              2      0h 5m 11s 2014-10-14 18:58:00
              3      0h 15m 2s 2014-10-24 18:09:00
              4      0h 2m 51s 2014-10-04 20:17:00
              ...          ...                 ...
              9995   0h 5m 43s 2014-11-13 10:09:00
              9996  0h 11m 56s 2014-11-21 08:26:00
              9997    0h 4m 4s 2014-10-02 17:05:00
              9998   0h 5m 44s 2014-12-20 17:15:00
              9999  0h 17m 43s 2014-10-23 00:55:00

                                                             sstation               edate  \
              0                                     Braddock Rd Metro 2014-10-15 09:04:00
              1                                 10th & Florida Ave NW 2014-12-18 09:27:00
              2     Eastern Market Metro / Pennsylvania Ave & 7th ... 2014-10-14 19:03:00
              3                              New Jersey Ave & R St NW 2014-10-24 18:24:00
              4                                   12th & Irving St NE 2014-10-04 20:20:00
              ...                                                 ...                 ...
              9995                     17th St & Massachusetts Ave NW 2014-11-13 10:15:00
              9996                         Calvert St & Woodley Pl NW 2014-11-21 08:38:00
              9997                         17th & Rhode Island Ave NW 2014-10-02 17:09:00
              9998                                     11th & M St NW 2014-12-20 17:21:00
              9999                                     10th & U St NW 2014-10-23 01:12:00

                                         estation  bikeno      client
              0          Commerce St & Fayette St  W21555      Casual
              1     21st St & Pennsylvania Ave NW  W20694  Registered
              2     Potomac & Pennsylvania Ave SE  W00035  Registered
              3       Columbia Rd & Belmont St NW  W01288  Registered
              4               10th & Monroe St NE  W01296  Registered
              ...                             ...     ...         ...
              9995                 14th & G St NW  W00558  Registered
              9996                 14th & R St NW  W01402  Registered
              9997                 15th & P St NW  W20460  Registered
              9998                 15th & P St NW  W00253  Registered
              9999                 24th & N St NW  W21419  Registered

              [10000 rows x 7 columns])])

In [11]:
# Es un diccionario, objeto tipo "ordered dict", en la web hacen esto:
result.keys()

odict_keys([None])

In [12]:
result[None]

,duration,sdate,sstation,edate,estation,bikeno,client
0,0h 5m 32s,2014-10-15 08:58:00,Braddock Rd Metro,2014-10-15 09:04:00,Commerce St & Fayette St,W21555,Casual
1,0h 10m 18s,2014-12-18 09:17:00,10th & Florida Ave NW,2014-12-18 09:27:00,21st St & Pennsylvania Ave NW,W20694,Registered
2,0h 5m 11s,2014-10-14 18:58:00,Eastern Market Metro / Pennsylvania Ave & 7th ...,2014-10-14 19:03:00,Potomac & Pennsylvania Ave SE,W00035,Registered
3,0h 15m 2s,2014-10-24 18:09:00,New Jersey Ave & R St NW,2014-10-24 18:24:00,Columbia Rd & Belmont St NW,W01288,Registered
4,0h 2m 51s,2014-10-04 20:17:00,12th & Irving St NE,2014-10-04 20:20:00,10th & Monroe St NE,W01296,Registered
...,...,...,...,...,...,...,...
9995,0h 5m 43s,2014-11-13 10:09:00,17th St & Massachusetts Ave NW,2014-11-13 10:15:00,14th & G St NW,W00558,Registered
9996,0h 11m 56s,2014-11-21 08:26:00,Calvert St & Woodley Pl NW,2014-11-21 08:38:00,14th & R St NW,W01402,Registered
9997,0h 4m 4s,2014-10-02 17:05:00,17th & Rhode Island Ave NW,2014-10-02 17:09:00,15th & P St NW,W20460,Registered
9998,0h 5m 44s,2014-12-20 17:15:00,11th & M St NW,2014-12-20 17:21:00,15th & P St NW,W00253,Registered
9999,0h 17m 43s,2014-10-23 00:55:00,10th & U St NW,2014-10-23 01:12:00,24th & N St NW,W21419,Registered

In [13]:
df2 = result[None]

In [14]:
df2.head(2)

,duration,sdate,sstation,edate,estation,bikeno,client
0,0h 5m 32s,2014-10-15 08:58:00,Braddock Rd Metro,2014-10-15 09:04:00,Commerce St & Fayette St,W21555,Casual
1,0h 10m 18s,2014-12-18 09:17:00,10th & Florida Ave NW,2014-12-18 09:27:00,21st St & Pennsylvania Ave NW,W20694,Registered

In [22]:
df2.dtypes

duration            object
sdate       datetime64[ns]
sstation            object
edate       datetime64[ns]
estation            object
bikeno              object
client              object
dtype: object

##### Comprobamos su tamaño y contrastamos con el original

In [15]:
df.shape

(730, 16)

In [16]:
df2.shape

(10000, 7)

In [17]:
# Tenemos muchas más filas en el segundo dataframe, tendremos que unir el primer df a través de la fecha

##### Extraemos los nuevos datos del csv en un tercer df

In [18]:
df3= pd.read_csv('Datos/DC-Stations.csv')
df3.head()

,name,lat,long,nbBikes,nbEmptyDocks
0,20th & Bell St,38.856100,-77.051200,7,4
1,18th & Eads St.,38.857250,-77.053320,8,3
2,20th & Crystal Dr,38.856400,-77.049200,8,7
3,15th & Crystal Dr,38.860170,-77.049593,9,2
4,Aurora Hills Community Ctr/18th & Hayes St,38.857866,-77.059490,7,4

In [20]:
df3.shape

(347, 5)

In [19]:
# Pues ya lo tenemos!

In [21]:
# Vamos a hacer la unión y luego haremos la limpieza en otro jupyter
# Tenemos df de tamaños muy distintos y las columnas en común son las fechas en el caso del df y df2

# Miramos los valores maximos y minimos de la fecha del df2

df2['sdate'].min()

Timestamp('2014-10-01 03:52:00')

In [23]:
df2['sdate'].max()

Timestamp('2014-12-31 23:30:00')

In [ ]:
# Vemos que las fechas no coinciden, asi que por el momento no podemos unir nuestros dataframes :((((

In [24]:
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [26]:
df['dteday'].min()

'01-01-2018'

In [27]:
df['dteday'].max()

'31-12-2019'

##### Las ideas de análisis que tenemos hasta ahora son:
* Anticipar a las bicis que pueden hacer falta según condiciones climáticas, festivos u otros eventos (aún por recopilar)
* Mirar datos sobre atascos, para recomendar el uso de bicis en según qué zonas
* Geolocalizar estos atascos para ver de dónde provienen y hacer un recomendador de estaciones de bicicleta